:root { --brand:#0a6f2f; }
body { background-color:#f8f9fa; }
.navbar-brand strong { letter-spacing: .5px; }
.card img { object-fit: cover; height: 160px; }
.table td, .table th { vertical-align: middle; }
html, body { height: 100%; }
body { min-height: 100vh; display: flex; flex-direction: column; }
main { flex: 1 0 auto; }
footer { margin-top: auto; }
